@import "../../../styles/vars";
@import "../../../styles/colors";
.home {
  .search-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $sm-padding $sm-padding 0 $sm-padding;
    &.searched {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: none;
      border-bottom: 1px solid $light-grey;
      box-shadow: 0 0 11px rgba(0, 0, 0, 0.23);
    }
  }
  .results-wrapper {
    padding: $lg-padding $sm-padding;
  }
}